/**
 *
 * Author : Willow P. (drizzy)
 * Github : @drizzy
 *
 * Configuration for Rofi Version: 1.7.5
 **/
 
configuration {
  modi: "run,drun,window";
  font: "Hack Nerd Font 12";
  show-icons: true;
}